In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/georgiosgrigoriou/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/georgiosgrigoriou/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/georgiosgrigoriou/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/georgiosgrigoriou/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/georgiosgrigoriou/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /Users/georgiosgrigoriou/opt/anaconda3/lib/python3.9/site-packages (10.0.1)
Requirement already satisfied: numpy>=1.16.6 in /Users/georgiosgrigoriou/opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)

In [3]:
import pandas as pd

In [4]:
url="https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv"

In [5]:
df=pd.read_csv(url)

In [6]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
from sqlalchemy import create_engine
engine=create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [8]:
df.to_sql(name='taxi_zone_lookup',con=engine,if_exists='replace')

265